body {
    background-color: var(--bg-1);
}

* {
    transition: opacity, color, border-color .3s ease;
}

.ad  {
    display: none;
}

:root {
    --font-color-normal: rgb(117, 117, 117);
    --font-color-hover: rgb(153, 153, 153);
    --font-color-select: rgb(197, 197, 197);
    --bg-1: rgb(51, 51, 51);
    --bg-2: rgb(26, 26, 26);
    --bg-active: rgb(26, 26, 26);
    --bg-hover-1: rgb(64, 64, 64);
    --bg-hover-2: rgba(117, 117, 117, 0.3);
    --line-1: rgb(83, 83, 83);
}

/************** Header ************/
#header-inner {
    background-color: var(--bg-2);
}
/************** subnav ************/

#wrap .shot-subnav {
    background-color: var(--bg-1);
}

#wrap .shot-views .open .btn-dropdown-link {
    background-color: var(--bg-2);
    box-shadow: none;
}

#wrap .shot-subnav .scroll a {
    background-image: linear-gradient(to right, #333 0%, #333 50%);
}

#wrap .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .shot-filters {
    border-top: 1px solid var(--line-1);
}

#wrap input {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .shot-categories .active a {
    color: var(--font-color-hover);
    background-color: var(--bg-active);
}

#wrap .shot-categories a:hover {
    color: var(--font-color-hover);
    background-color: var(--bg-hover-2);
}

#wrap .filters-active {
    background-color: var(--bg-active);
    box-shadow: none;
}

#wrap .btn-dropdown-options {
    border-color: var(--bg-1);
    overflow: hidden;
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px rgb(83, 83, 83) inset;
}

#wrap .btn-dropdown-options a:hover {
    background-color: var(--bg-hover-2);
    color: var(--font-color-hover);
}

#wrap .btn-dropdown-options .active a {
    background-color: var(--bg-active);
    color: var(--font-color-select);
}

#wrap .btn-dropdown-options .rule {
    border-color: var(--line-1);
}

#wrap .color-chips {
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

/*************** Footer *********************/

#footer {
    background-color: var(--bg-1) !important;
    border-top-color: var(--line-1) !important;
}

#footer p.follow a img {
    filter: invert(1);
}

#footer a:hover {
    color: var(--font-color-select) !important;
}

#footer #shots-total {
    filter: invert(0.8) grayscale(1);
}

/************** content ************/
#wrap #wrap-inner {
    background-color: var(--bg-2);
}

#content .dribbble{
    background-color: var(--bg-1);
    border-radius: 4px;
}
#content .shot-display-options{
    background-color: var(--bg-1);
}
#content .dribbble-shot{
  padding: 0;
}

#content .dribbble-shot-actions {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
}
#content .dribbble-shot-title-date {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
}
#content .dribbble-shot-title-date p{
    color: var(--font-color-select);
}

#content .form-btn {
    background-color: var(--bg-1);
    color: var(--font-color-select);
}

#content .form-btn svg path {
    fill: var(--font-color-hover);
}