body {
    background-color: var(--bg-1);
}

* {
    transition: opacity, color, border-color .3s ease;
}

.ad {
    display: none;
}

:root {
    --font-color-normal: hsl(0, 0%, 60%);
    --font-color-hover: hsl(0, 0%, 70%);
    --font-color-select: hsl(0, 0%, 90%);
    --bg-1: hsl(0, 0%, 20%);
    --bg-2: hsl(0, 0%, 10%);
    --bg-active: hsl(0, 0%, 10%);
    --bg-hover-1: hsl(0, 0%, 25%);
    --bg-hover-2: hsla(0, 0%, 46%, 0.3);
    --line-1: hsl(0, 0%, 33%);
}

/************** Header ************/
#header-inner {
    background-color: var(--bg-2);
}

#t-upld a span {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    border: none !important;
}

#header-inner .search-text {
    background-color: var(--bg-1) !important;
}

#new-header input.search-text:focus {
    background-color: var(--bg-2) !important;
    color: var(--font-color-select) !important;
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#new-nav li:hover ul.tabs,
#new-nav li:hover div.menu-community,
#new-nav li ul.tabs li.menu-pro .menu-pro-features {
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    border-radius: 6px !important;
}

/************** subnav ************/

#wrap .shot-subnav {
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--line-1);
}

#wrap .shot-views .open .btn-dropdown-link {
    background-color: var(--bg-2);
    box-shadow: none;
}

#wrap .shot-subnav .scroll a {
    color: var(--font-color-normal);
    background-image: linear-gradient(to right, #333 0%, #333 50%);
}

#wrap .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .shot-filters {
    border-top: 1px solid var(--line-1);
}

#wrap input {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .outlined .label {
    color: var(--font-color-normal);
}

#wrap .shot-categories .active a {
    color: var(--font-color-select) !important;
    background-color: var(--bg-active);
}

#wrap .shot-subnav .shot-categories a {
    color: var(--font-color-normal);
}

#wrap .shot-categories a:hover {
    color: var(--font-color-hover);
    background-color: var(--bg-hover-2);
}

#wrap .filters-active {
    background-color: var(--bg-active);
    box-shadow: none;
    color: var(--font-color-select) !important;
}

#wrap .filters-active .label {
    color: var(--font-color-select) !important;
}

#wrap .filters-active svg path {
    fill: var(--font-color-select);
}

#wrap .btn-dropdown-options {
    border-color: var(--bg-1);
    overflow: hidden;
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px rgb(83, 83, 83) inset;
}

#wrap .btn-dropdown-options a {
    color: var(--font-color-normal);
}

#wrap .btn-dropdown-options a:hover {
    background-color: var(--bg-hover-2);
    color: var(--font-color-hover);
}

#wrap .btn-dropdown-options .active a {
    background-color: var(--bg-active);
    color: var(--font-color-select);
}

#wrap .btn-dropdown-options .rule {
    border-color: var(--line-1);
}

#wrap .shot-subnav .shot-views .open a {
    color: var(--font-color-select);
}

#wrap .color-chips {
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .attribution-user a,
.attribution-team a {
    color: var(--font-color-normal) !important;
}

#wrap h1 span.badge,
span.badge {
    background-color: var(--bg-1) !important;
    color: var(--font-color-hover) !important;
}

/*************** Footer *********************/

#footer {
    background-color: var(--bg-1) !important;
    border-top-color: var(--line-1) !important;
}

#footer p.follow a img {
    filter: invert(1);
}

#footer a:hover {
    color: var(--font-color-select) !important;
}

#footer #shots-total {
    filter: invert(0.8) grayscale(1);
}

/************** content ************/
#wrap #wrap-inner {
    background-color: var(--bg-2);
}

#content .dribbble {
    background-color: var(--bg-1);
    border-radius: 4px;
}

#content .shot-display-options {
    background-color: var(--bg-1);
}

/* #content .dribbble-shot {
    padding: 0;
} */

#content .dribbble-shot-actions {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
}

#content .dribbble-shot-title-date {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
}

#content .dribbble-shot-title-date p {
    color: var(--font-color-select);
}

#content .form-btn {
    background-color: var(--bg-1);
    color: var(--font-color-select);
}

#content .form-btn svg path {
    fill: var(--font-color-hover);
}

/* #content .group {
    margin: 0 0px 16px 12px;
} */

/************** shot-overlay ************/
#home .overlay-content {
    background-color: var(--bg-1);
}

#home .overlay-content .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    background-color: var(--bg-1);
}

#home .overlay-content .shot-title {
    color: var(--font-color-select);
}

#home .shot-overlay {
    background: rgba(30, 30, 30, 0.96) !important;
}

#home .overlay-content * {
    border-color: var(--line-1);
}

#home .shot-loading {
    background-color: var(--bg-2) !important;
}

#home .main-shot {
    background-color: var(--bg-1) !important;
}

#home .shot-loading.shot {
    background-color: white !important;
}

#home .shot-loading.description,
.shot-loading.description:before,
.shot-loading.description:after {
    background-color: white !important;
}

#home .shot-loading-container {
    filter: invert(1) grayscale(1);
}

#home .shot-overlay .title {
    filter: invert(1) grayscale(1) brightness(0.9) contrast(1);
    opacity: 0.1;
}

#home .overlay-content .icon {
    filter: grayscale(1) invert(1);
}

#home .overlay-content p {
    color: var(--font-color-normal);
}

#home .detail-attachments {
    border-bottom: 1px solid var(--line-1);
}
#home .detail-attachments h3{
   filter: invert(1);
}

#home #comments a{
    color: var(--font-color-normal);
}

#home .shot-loading-columns {
    filter: contrast(0.66);
}