#wrap .full-tabs {
    background-color: var(--bg-1) !important;
    border-bottom: 1px solid var(--line-1) !important;
}

#wrap .full-tabs select {
    color: var(--font-color-normal) !important;
    box-shadow: 0px 0px 0px 1px var(--line-1) inset !important;
    border: none !important;
}

#wrap .full-tabs .label {
    color: var(--font-color-normal) !important;
}

#wrap .full-tabs .count {
    color: var(--font-color-select) !important;
}

#wrap .full-tabs ul.full-tabs-links ul {
    color: var(--font-color-normal) !important;
    box-shadow: 0px 0px 0px 1px var(--line-1) inset !important;
    background-color: var(--bg-1);
}

#wrap .full-tabs ul.full-tabs-links ul a:hover {
    background-color: var(--bg-hover-2) !important;
    color: var(--font-color-hover) !important;
}

#wrap .full-tabs ul.full-tabs-links ul a:hover span {
    color: var(--font-color-hover) !important;
}

/************** Side-bar ******************/

#wrap .profile-info {
    background-color: var(--bg-1);
}

#wrap .profile-info .unfollow {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .profile-info .follow {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .profile-info .actions-menu .actions-list {
    color: var(--font-color-normal) !important;
    box-shadow: 0px 0px 0px 1px var(--line-1) inset !important;
    background-color: var(--bg-1);
}

#wrap .profile-info .vcard a {
    color: var(--font-color-select) !important;
}

#wrap .profile-info .vcard span,
.bio {
    color: var(--font-color-normal) !important;
}

#wrap .profile-info .message-btn {
    background-color: #7bbb5e !important;
    color: white;
}

#wrap .profile-info .message-btn svg path {
    fill: white;
}

#wrap .profile-info .badge {
    background-color: var(--bg-2) !important;
    color: var(--font-color-select) !important;
}

#wrap .profile-info div {
    border-color: var(--line-1) !important;
}

#wrap .profile-info-mod img {
    filter: invert(1);
}

#wrap .profile-projects img {
    filter: none !important;
}

#wrap .photo {
    filter: unset !important;
}

#wrap .profile-info .url,
.label,
.skills-list a,
h4,
.all a {
    color: var(--font-color-normal) !important;
}

#wrap .profile-info .skills-list a {
    border-color: var(--line-1) !important;
}

#wrap .profile-info .settings:hover span {
    background-position: 0 0 !important;
}

#wrap .profile-info div.actions-menu a.settings span {
    filter: invert(1) !important;
}

#wrap .profile-info div.actions-menu a.settings {
    box-shadow: none !important;
}

/************** self shot-overlay ************/
#user-profile .overlay-content {
    background-color: var(--bg-1);
}

#user-profile .close-overlay,#profile .close-overlay,#home .close-overlay {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.14);
    transform: scale(0.6);
}

#user-profile .overlay-content .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    background-color: var(--bg-1);
}

#user-profile .overlay-content .shot-title {
    color: var(--font-color-select);
}

#user-profile .shot-overlay {
    background: rgba(30, 30, 30, 0.96) !important;
}

#user-profile .overlay-content * {
    border-color: var(--line-1);
}

#user-profile .shot-loading {
    background-color: var(--bg-2) !important;
}

#user-profile .main-shot {
    background-color: var(--bg-1) !important;
}

#user-profile .shot-loading.shot {
    background-color: white !important;
}

#user-profile .shot-loading.description,
.shot-loading.description:before,
.shot-loading.description:after {
    background-color: white !important;
}

#user-profile .shot-loading-container {
    filter: invert(1) grayscale(1);
}

#user-profile .shot-overlay .title {
    filter: invert(1) grayscale(1) brightness(0.9) contrast(1);
    opacity: 0.1;
}

#user-profile .overlay-content .icon {
    filter: grayscale(1);
    opacity: 1;
}

#user-profile .overlay-content .icon path {
    fill: var(--icon-color);
}

#user-profile .overlay-content p {
    color: var(--font-color-normal);
}

#user-profile .detail-attachments {
    border-bottom: 1px solid var(--line-1);
}

#user-profile .detail-attachments h3 {
    filter: invert(1);
}

#user-profile .detail-attachments h3 svg {
    filter: invert(0) !important;
}

#user-profile #comments a {
    color: var(--font-color-normal);
}

#user-profile .shot-loading-columns {
    filter: contrast(0.66);
}

#user-profile .detail-shot {
    background-image: none;
}

#user-profile .overlay-content .section {
    color: var(--font-color-normal);
}

#comment_text {
    border: 1px solid var(--line-1);
}

#user-profile .tipsy div:last-child {
    background-color: var(--bg-2);
}

#user-profile .overlay-content .hire-us-button div,
.related-player-shots h3 a {
    color: var(--font-color-normal) !important;
}

#user-profile .overlay-content .message-btn svg {
    filter: invert(0) !important;
}

/************** user shot-overlay ************/
#profile .overlay-content {
    background-color: var(--bg-1);
}

#profile .overlay-content .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    background-color: var(--bg-1);
}

#profile .overlay-content .shot-title {
    color: var(--font-color-select);
}

#profile .shot-overlay {
    background: rgba(30, 30, 30, 0.96) !important;
}

#profile .overlay-content * {
    border-color: var(--line-1);
}

#profile .shot-loading {
    background-color: var(--bg-2) !important;
}

#profile .main-shot {
    background-color: var(--bg-1) !important;
}

#profile .shot-loading.shot {
    background-color: white !important;
}

#profile .shot-loading.description,
.shot-loading.description:before,
.shot-loading.description:after {
    background-color: white !important;
}

#profile .shot-loading-container {
    filter: invert(1) grayscale(1);
}

#profile .shot-overlay .title {
    filter: invert(1) grayscale(1) brightness(0.9) contrast(1);
    opacity: 0.1;
}

#profile .overlay-content .icon {
    filter: grayscale(1);
    opacity: 1;
}

#profile .overlay-content .icon path {
    fill: var(--icon-color);
}

#profile .overlay-content p {
    color: var(--font-color-normal);
}

#profile .detail-attachments {
    border-bottom: 1px solid var(--line-1);
}

#profile .detail-attachments h3 {
    filter: invert(1);
}

#profile .detail-attachments h3 svg {
    filter: invert(0) !important;
}

#profile #comments a {
    color: var(--font-color-normal);
}

#profile .shot-loading-columns {
    filter: contrast(0.66);
}

#profile .detail-shot {
    background-image: none;
}

#profile .overlay-content .section {
    color: var(--font-color-normal);
}

#comment_text {
    border: 1px solid var(--line-1);
}

#profile .tipsy div:last-child {
    background-color: var(--bg-2);
}

#profile .overlay-content .hire-us-button div,
.related-player-shots h3 a {
    color: var(--font-color-normal) !important;
}

#profile .overlay-content .message-btn svg {
    filter: invert(0) !important;
}

/************** user details ************/


#details .non-overlay {
    background-color: var(--bg-2);
}

#post-comment-btn {
    background: #ea4c89 !important;
    border: none !important;
    color: white !important;
    box-shadow: none !important;
}

#details .non-overlay .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    background-color: var(--bg-1);
}

#details .non-overlay .shot-title {
    color: var(--font-color-select);
}

#details .non-overlay * {
    border-color: var(--line-1);
}

#details .shot-loading {
    background-color: var(--bg-2) !important;
}

#details .main-shot {
    background-color: var(--bg-1) !important;
}

#details .shot-loading.shot {
    background-color: white !important;
}

#details .shot-loading.description,
.shot-loading.description:before,
.shot-loading.description:after {
    background-color: white !important;
}

#details .shot-loading-container {
    filter: invert(1) grayscale(1);
}

#details .shot-overlay .title {
    filter: invert(1) grayscale(1) brightness(0.9) contrast(1);
    opacity: 0.1;
}

#details .non-overlay .icon {
    filter: grayscale(1);
    opacity: 1;
}

#details .non-overlay .icon path {
    fill: var(--icon-color);
}

#details .non-overlay p {
    color: var(--font-color-normal);
}

#details .detail-attachments {
    border-bottom: 1px solid var(--line-1);
}

#details .detail-attachments h3 {
    filter: invert(1);
}

#details .detail-attachments h3 svg {
    filter: invert(0) !important;
}

#details #comments a {
    color: var(--font-color-normal);
}

#details .shot-loading-columns {
    filter: contrast(0.66);
}

#details .detail-shot {
    background-image: none;
}

#details .non-overlay .section {
    color: var(--font-color-normal);
}

#comment_text {
    border: 1px solid var(--line-1);
    color: var(--font-color-normal);
}

#comment_text:focus {
    background-color: var(--bg-1);
    color: var(--font-color-hover);
}


#details .tipsy div:last-child {
    background-color: var(--bg-2);
}

#details .non-overlay .hire-us-button div,
.related-player-shots h3 a {
    color: var(--font-color-normal) !important;
}

#details .non-overlay .message-btn svg {
    filter: invert(0) !important;
}


/* #details .hover-card {
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#details .hover-card::after {
    border-color: transparent transparent var(--bg-1) var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#details .hover-card span {
    color: var(--font-color-normal);
}

#details .hover-card div {
    border-color: var(--line-1);
}

#details .hover-card .name {
    color: var(--font-color-select) !important;
}

#details .hover-card .unfollow span {
    color: var(--font-color-select) !important;
} */

#details .hoverable {
    color: var(--font-color-select) !important;
}